@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.container {
    padding: 96px 0;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.red {
  color: #991b1b;
  text-shadow: 0 2px 2px #494949;
}

.btn {
    font-size: 20px;
    padding: 12px;
    margin: 12px 0;
    border-radius: 999px;
    background-color: #e92323;
}

a {
    text-decoration: none;
}

h2 {
    text-align: center;
    font-size: 48px;
    margin-bottom: 32px;
}

button {
    cursor: pointer;
}

img {
    width: 100%;
    height: 100%;
    max-height: 50vh;
    padding: 20px;
}

nav {
        display: flex;
        position: fixed;
        padding-top: 32px;
        background-color: #242424;
        z-index: 1000;
        width: 100%;
}

li {
    list-style-type: none;
}
/* 

NAVIGATION

*/

    .nav__row {
       width: 100%;
       
    }

    .nav__links {
        display: flex;
        align-items: center;
        padding-bottom: 2px;
        margin-left: 16px;
    }

    .nav__link {
        color: #fff;
        font-size: 20px;
        font-weight: 500;
        padding-top: 4px;
        margin: 0 24px;
        position: relative;
        border-bottom: 2px solid transparent;
        letter-spacing: 1.3px;
        transition: all 300ms;
    }

    .nav__link:after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -3px;
        height: 3px;
        width: 100%;
        background-color: #991b1b;
        transition: all 300ms ease;
        opacity: 0;
    }

    .nav__link:hover:after {
        opacity: 1;
    }

    .login {
       margin-left: auto;
    }

    .nav__link--primary {
        margin: 0;
        padding: 10px 32px;
        margin-top: 2px;
        border-radius: 999px;
        background-color:#991b1b;
        line-height: 1.5;
        border: none;
        width: auto;
        transition: all 300ms ease;
    }

    .nav__link--primary:hover {
        background-color: rgb(109, 19, 19);
        transform: scale(1.03);
    }

    .nav__link--primary:after {
        content: "";
        width: 0;
        height: 0;
    }
    
    .search__container {
        position: relative;
        display: flex;
        align-items: center;
    }

    .search__icon {
        position: absolute;
        font-size: 12px;
        left: 18em;
        top: 34%;
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    #search__movies {
        padding: 16px;
        border-radius: 9999px;
        color: #000000;
        font-size: 16px;
        border: none;
        margin-bottom: 4px;
    }

    .btn__menu {
    display: none;
    font-size: 24px;
    color: #fff;
    background-color: transparent;
    border: none;
    margin-left: 16px;
    cursor: pointer;
}

.menu__backdrop {
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    height: 50%;
    background-color: rgba(0, 0, 0, 0.7);
    visibility: hidden;
    opacity: 0;
    transition: all 300ms ease;
}

.menu--open .menu__backdrop {
    visibility: visible;
    opacity: 1;
}

.menu--open {
    max-height: 100vh;
    overflow-y: hidden;
}

.menu__links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu__list {
    padding: 32px 0;
}

.menu__link {
    font-size: 40px;
    color: white;
    padding: 16px 0;
    border-bottom: 1px solid #fff;
}

.btn__menu--close {
    position: absolute;
    right: 20px;
    top: 10px;
    padding: 8px;
    color: white;
}

/*

HEADER  

*/

header {
    display: flex;
    align-items:center;
    justify-content:space-between;
    background-color: #1b1b1b;
}

.header__wrapper {
    width: 100%;
    height: auto;
    margin-top: 10em;
    padding: 32px 24px;
    color: #fff;
}

.header__title {
    padding: 12px 24px;
    font-size: 40px;
    font-weight: 900;
}

.header__para {
    padding: 12px 32px;
    letter-spacing: 1.5px;
    line-height: 1.5;
}




/* 

MOVIE SECTION

*/

section {
    background-color: #242424;
}

#catalog .row {
    margin-top: 24px;
    max-width: 3000px;
}

.movies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movie {
    width: 25%;
    padding: 24px;
    opacity: 0.7;
    transition: all 300ms ease;
}

.movie:hover {
    transform: scale(1.03);
    opacity: 1;
}

.movie__poster--wrapper {
    display: flex;
    border-radius: 4px;
    overflow: hidden;
}

.movie__poster {
    max-height: 520px;
}

.movie__title {
    text-align: center;
    font-size: 24px;
}

.movie__info {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 20px;
}

.movie__runtime {
    font-size: 20px;
    font-weight: 500;
    margin-right: 10px;
}

.movie__rating {
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 15px;
}

#catalog .btn {
    display: block;
    margin: 24px auto 0 auto;
}
/* 

SINGLE MOVIE PAGE

*/

.movie__result {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
}


.single__movie--info {
    color: #fff;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 800px;
}

.single__movie--fact{
    padding: 12px 0;
}


/* 

FOOTER

*/

footer {
    background-color: #000000;
}

.footer__social--links {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 12px;
    font-size: 24px;
}

.footer__social--link {
    margin: 0 32px;
    color: #fff;
    opacity: 0.7;
    transition: all 300ms ease;
}

.footer__social--link:hover {
    transform: scale(1.03);
    opacity: 1;
    color: #9DFFFB;
}

.footer__bottom {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.footer__copyright {
    color: #fff;
    font-size: 16px;
}



/* 

MEDIA

*/

@media (max-width: 1256px) {
    .section_title {
        font-size: 32px;
    }

    .btn__menu {
        display: block;
    }

    .nav__links {
        display: none;
    }
}


@media (max-width: 1224px) {
    .movie {
        width: 33.33%;
    }
}

@media (max-width: 772px) {
    .movie {
        width: 50%;
    }

    .header__title {
        font-size: 32px;
    }

    .header__para {
        font-size: 16px;
    }
}

@media (max-width: 552px) {
    .movie {
        width: 100%;
    }
}
